<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/Homepage"  >MeetHub</a>
    <div class="collapse navbar-collapse pl-16" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Dashboard" routerLinkActive="active">Explore Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/AddEvent" routerLinkActive="active">Add an event</a>
        </li>
      </ul>
      <span *ngIf="username" class="navbar-text">Logged in as: {{username}}</span>
      <ul class="navbar-nav d-flex mb-2 mb-lg-0">
        <li *ngIf="username; else elseBlock" class="nav-item">
          <button type="button" class="nav-link" (click)="logout()">Logout</button>
        </li>
        <ng-template #elseBlock>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
