<div class="container">
<form (ngSubmit)="submitForm()" [formGroup]="eventForm">
    <label for="name">Event Name:</label><br>
    <input type="text" id="name" formControlName="name"><br>
    <label for="date">Event Date (dd-MM-yyyy HH:mm:ss):</label><br>
    <input type="text" id="date" formControlName="date"><br>
    <label for="location">Event Location:</label><br>
    <input type="text" id="location" formControlName="location"><br>
    <label for="category">Event Category:</label><br>
    <input type="text" id="category" formControlName="category"><br>
    <label for="attendees">Event Attendees (one per line):</label><br>
    <textarea id="attendees" formControlName="attendees"></textarea><br>
    <label for="description">Event Description:</label><br>
    <textarea id="description" formControlName="description"></textarea><br>
    <input type="submit" value="Submit">
</form>
</div>
