

 <div class="card">
    <div *ngFor="let event of events" class="card-body">
      <h5 class="card-title">{{event.name}}</h5>
      <p class="card-text">Date: {{event.date}}</p>
      <p class="card-text">Location: {{event.location}}</p>
      <p class="card-text">Description: {{event.description}}</p>
      <div class="btn-group" style="height: 50px ;width: 100px;">
        <button type="button" class="btn btn-secondary btn-sm bi bi-pencil"
          (click)="onEdit(event)">Attend</button>
        <button type="button" class="btn btn-danger btn-sm bi bi-trash"
          (click)="onDelete(event)">Delete</button>
        <button *ngIf="username" type="button" class="btn btn-primary btn-sm bi bi-trash"
          (click)="onEdit(event)">Edit</button>
        </div>
      
    </div>
  </div>
  